<h1>
  App Component
</h1>
<div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Component to view</h3>
            </div>
            <div class="panel-body">
              <component-to-view></component-to-view>

            </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Component to view</h3>
            </div>
            <div class="panel-body">
              <view-to-component></view-to-component>

            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Twoway binding</h3>
            </div>
            <div class="panel-body">
              <app-two-ways-binding></app-two-ways-binding>

            </div>
        </div>
      </div>

    </div>
    
  </div>
  